---

In [7]:
df = df.loc[:, ["Manufacturer", "Make", "Price", "MPG.city", "Type", "Passengers"]]
print(df)

   Manufacturer               Make  Price  MPG.city     Type  Passengers
43      Hyundai      Hyundai Excel    8.0      29.0    Small         5.0
22        Dodge         Dodge Colt    9.2      29.0    Small         5.0
61   Mitsubishi  Mitsubishi Mirage   10.3      29.0    Small         5.0
80       Subaru      Subaru Loyale   10.9      25.0    Small         5.0
12    Chevrolet  Chevrolet Corsica   11.4      25.0  Compact         5.0

In [4]:
df = df.sort_values(by = "Price")
df = df.head(5)
print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
43      Hyundai    Excel    Small        6.8    8.0        9.2      29.0
22        Dodge     Colt    Small        7.9    9.2       10.6      29.0
61   Mitsubishi   Mirage    Small        7.7   10.3       12.9      29.0
80       Subaru   Loyale    Small       10.5   10.9       11.3      25.0
12    Chevrolet  Corsica  Compact       11.4   11.4       11.4      25.0

    MPG.highway      AirBags DriveTrain  ... Passengers  Length  Wheelbase  \
43         33.0          NaN      Front  ...        5.0   168.0       94.0
22         33.0          NaN      Front  ...        5.0   174.0       98.0
61          NaN          NaN      Front  ...        5.0   172.0       98.0
80         30.0          NaN        4WD  ...        5.0   175.0       97.0
12         34.0  Driver only      Front  ...        5.0   184.0      103.0

    Width  Turn.circle Rear.seat.room  Luggage.room  Weight   Origin  \
43   63.0         35.0           26.0          11.0  2345.0  non-USA
22   66.0         32.0            NaN          11.0  2270.0      USA
61   67.0         36.0           26.0          11.0  2295.0  non-USA
80   65.0         35.0           27.5          15.0  2490.0  non-USA
12   68.0         39.0           26.0           NaN  2785.0      USA

                 Make
43      Hyundai Excel
22         Dodge Colt
61  Mitsubishi Mirage
80      Subaru Loyale
12  Chevrolet Corsica

[5 rows x 27 columns]

In [3]:
df = df.sort_values(by = "MPG.city", ascending=False)
df = df.head(10)
print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
28        Eagle   Summit    Small        7.9   12.2       16.5      29.0
63       Nissan   Sentra    Small        8.7   11.8       14.9      29.0
61   Mitsubishi   Mirage    Small        7.7   10.3       12.9      29.0
43      Hyundai    Excel    Small        6.8    8.0        9.2      29.0
22        Dodge     Colt    Small        7.9    9.2       10.6      29.0
53        Mazda  Protege    Small       10.9   11.6       12.3      28.0
54        Mazda      626  Compact       14.3   16.5       18.7      26.0
80       Subaru   Loyale    Small       10.5   10.9       11.3      25.0
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
12    Chevrolet  Corsica  Compact       11.4   11.4       11.4      25.0

    MPG.highway      AirBags DriveTrain  ... Passengers  Length  Wheelbase  \
28         33.0          NaN      Front  ...        5.0   174.0       98.0
63         33.0  Driver only      Front  ...        5.0   170.0       96.0
61          NaN          NaN      Front  ...        5.0   172.0       98.0
43         33.0          NaN      Front  ...        5.0   168.0       94.0
22         33.0          NaN      Front  ...        5.0   174.0       98.0
53         36.0          NaN      Front  ...        5.0   172.0       98.0
54         34.0  Driver only      Front  ...        5.0   184.0      103.0
80         30.0          NaN        4WD  ...        5.0   175.0       97.0
0          31.0          NaN      Front  ...        5.0   177.0      102.0
12         34.0  Driver only      Front  ...        5.0   184.0      103.0

    Width  Turn.circle Rear.seat.room  Luggage.room  Weight   Origin  \
28   66.0         36.0           26.5          11.0  2295.0      USA
63   66.0         33.0           26.0           NaN     NaN  non-USA
61   67.0         36.0           26.0          11.0  2295.0  non-USA
43   63.0         35.0           26.0          11.0  2345.0  non-USA
22   66.0         32.0            NaN          11.0  2270.0      USA
53   66.0         36.0           26.5          13.0  2440.0  non-USA
54   69.0         40.0           29.5          14.0  2970.0  non-USA
80   65.0         35.0           27.5          15.0  2490.0  non-USA
0    68.0         37.0           26.5           NaN  2705.0  non-USA
12   68.0         39.0           26.0           NaN  2785.0      USA

                 Make
28       Eagle Summit
63      Nissan Sentra
61  Mitsubishi Mirage
43      Hyundai Excel
22         Dodge Colt
53      Mazda Protege
54          Mazda 626
80      Subaru Loyale
0       Acura Integra
12  Chevrolet Corsica

[10 rows x 27 columns]

In [2]:
df = df[df["Passengers"]==5]
print(df.head())

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
8         Buick  Riviera  Midsize       26.3   26.3       26.3      19.0
10     Cadillac  Seville  Midsize       37.5   40.1       42.7      16.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
8          27.0         Driver only      Front  ...        5.0   198.0
10         25.0  Driver & Passenger      Front  ...        5.0   204.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
8       108.0    NaN         41.0           26.5          14.0  3495.0
10      111.0   74.0         44.0           31.0           NaN  3935.0

     Origin              Make
0   non-USA     Acura Integra
1   non-USA      Acura Legend
2   non-USA           Audi 90
8       USA     Buick Riviera
10      USA  Cadillac Seville

[5 rows x 27 columns]

In [1]:
import pandas as pd

df = pd.read_csv("Arquivos/Cars93_miss.csv", sep = ",")